{% load catalog_tags %}

<section class="container-fluid bg-light p-5">
    <div class="container">
        <h2 class="mb-5">Популярные модели</h2>
        <div class="row">
            {% for model in popular_models %}
                {% catalog_model_card_tag model=model %}
            {% endfor %}
        </div>
        <div class="text-center">
        <button class="btn btn-outline-primary"><a class="nav-link" href="{% url 'catalog_all' %}">Смотреть все</a></button>
        </div>
    </div>
</section>