{% extends 'catalog/catalog.html' %}
{% load static %}

{% block title %}
{{ model.name }} {{ model.pk }}
{% endblock title %}

{% block css_links %}
<link href="{% static 'catalog/css/model.css' %}" rel="stylesheet">
{% endblock %}

{% block catalog_items %}

<article class="row mb-3">
    <section class="col-md-6 mb-4">
        {% if model.photo %}
        <div class="col">
            <img class="img-thumbnail"
                 id="main-photo"
                 src="{{ model.photo.url }}"
                 alt="Фотография">
        </div>
        {% endif %}
        <div class="row row-cols-4">
            {% if model.photo %}
            <div id="main-photo-lower" class="col mt-2 additional-photo">
                <img class="img-thumbnail"
                     src="{{ model.get_photo.url }}"
                     alt="Фотография">
            </div>
            {% endif %}
            {% for photo in model.get_additional_photos %}
            <div class="col mt-2 additional-photo">
                <img class="img-thumbnail"
                     src="{{ photo.photo.url }}"
                     alt="Фотография">
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="col-md-6">
        <h2 class="mb-3">{{ model.get_name }}</h2>
        <h3 class="mb-5">{{ model.price }} руб.</h3>
        <p>{{ model.shirt_description }}</p>
        <h5>Ширина: {{ model.width }} см.</h5>
        <h5>Высота: {{ model.height }} см.</h5>
        <h5>Глубина: {{ model.depth }} см.</h5>
    </section>

</article>

<!--вкладки-->
{% include 'catalog/model_detail/model_tabs.html' %}

<div class="row justify-content-center mb-5">
    <button type="button"
            class="btn btn-primary mb-2 mb-md-0 mb-lg-0"
            style="width: max-content;"
            data-bs-toggle="modal"
            data-bs-target="#questionModal">
        Задать вопрос
    </button>
</div>

<script>
    let header = document.getElementById('header')
    let mainPhoto = document.getElementById('main-photo')
    let mainPhotoLower = document.getElementById('main-photo-lower')
    let additionalPhotos = document.querySelectorAll('.additional-photo')

    addPhotoZoom(mainPhoto)
    let miniPhotos = [mainPhotoLower, ...additionalPhotos]

    for (let additionalPhoto of miniPhotos) {

        additionalPhoto.addEventListener('click', (e) => {
            let img = e.currentTarget.querySelector('img')
            mainPhoto.src = img.src

            for (let additionalPhoto of miniPhotos) {
                let img = additionalPhoto.querySelector('img')
                img.style.border = 'none'
                if (img.src === mainPhoto.src) img.style.border = '1px solid gray'
            }
        })
    }

    let materialPhotosZoom = document.querySelectorAll('.material-photo-zoom')

    for (let materialPhoto of materialPhotosZoom) {
        addPhotoZoom(materialPhoto)
    }

    function addPhotoZoom(photo) {
        let photoZoomed = false
        photo.addEventListener('click', e => {
            if (photoZoomed) {
                e.currentTarget.classList.remove('position-fixed')
                e.currentTarget.style = ''
                photoZoomed = false
                return
            }

            let padding = 350
            let headerHeight = header.clientHeight + 30
            let windowWidth = window.screen.width
            let windowHeight = window.screen.height
            let pictureWidth = e.currentTarget.width
            let pictureHeight = e.currentTarget.height
            let shadowSize
            let pictureDivdider = pictureWidth / pictureHeight

            if (windowWidth > windowHeight) shadowSize = windowWidth
            else shadowSize = windowHeight

            while (true) {
                if (pictureWidth > windowWidth - padding) {
                    pictureHeight = pictureWidth / pictureDivdider
                    break
                } else if (pictureHeight > windowHeight - padding - headerHeight) {
                    pictureWidth = pictureHeight * pictureDivdider
                    break
                }
                pictureWidth += 50
                pictureHeight += 50
            }

            e.currentTarget.classList.add('position-fixed')
            e.currentTarget.style.boxShadow = `0 0 0px ${shadowSize}px rgba(0, 0, 0, .7)`
            e.currentTarget.style.transform = 'translateX(-50%)'
            e.currentTarget.style.transition = 'all .2s'
            e.currentTarget.style.top = `${headerHeight}px`
            e.currentTarget.style.left = '50%'
            e.currentTarget.style.zIndex = 1000
            e.currentTarget.style.width = `${pictureWidth}px`
            e.currentTarget.style.height = `${pictureHeight}px`

            photoZoomed = true
        })
    }

</script>

{% endblock catalog_items %}