{% extends 'catalog/catalog.html' %}
{% load static %}

{% block title %}
{{ model.name }} {{ model.pk }}
{% endblock title %}

{% block css_links %}
<link href="{% static 'catalog/css/model.css' %}" rel="stylesheet">
{% endblock %}

{% block catalog_items %}

<article class="row mb-5">
    <section class="col-md-6 mb-4">
        {% if model.photo %}
        <div class="col">
            <img class="img-thumbnail"
                 id="main-photo"
                 src="{{ model.photo.url }}"
                 alt="Фотография">
        </div>
        {% endif %}
        <div class="row row-cols-4">
            {% if model.photo %}
            <div id="main-photo-lower" class="col mt-2 additional-photo">
                <img class="img-thumbnail"
                     src="{{ model.get_photo.url }}"
                     alt="Фотография">
            </div>
            {% endif %}
            {% for photo in model.get_additional_photos %}
            <div class="col mt-2 additional-photo">
                <img class="img-thumbnail"
                     src="{{ photo.photo.url }}"
                     alt="Фотография">
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="col-md-6">
        <h2 class="mb-3">{{ model.get_name }}</h2>
        <h3 class="mb-5">{{ model.price }} руб.</h3>
        <p>{{ model.shirt_description }}</p>
        <h5>Ширина: {{ model.width }} см.</h5>
        <h5>Высота: {{ model.height }} см.</h5>
        <h5>Глубина: {{ model.depth }} см.</h5>
    </section>

</article>

<article class="col w-75">
    <p>{{ model.description }}</p>
</article>

<article class="col w-75 mb-5 mt-5">
    <h3 class="mb-4">Выбрать цвет</h3>
    {% for material_category in material_categories %}

        <div class="row">
            <div class="col-3 text-center">{{ material_category.name }}</div>
            <div class="col">
                <div class="row">
                    {% for material in material_category.material_set.all %}
                        <div class="card mb-3 card-with-hover col-sm-6 col-lg-3 col-md-6 p-0 m-1" style="">
                            <div class="d-flex align-items-center justify-content-center p-0">
                                <img src="{{ material.get_photo.url }}" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body p-1">
                                <p class="card-text text-center">{{ material.name }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</article>


<script>
    let mainPhoto = document.getElementById('main-photo')
    let mainPhotoLower = document.getElementById('main-photo-lower')
    let additionalPhotos = document.querySelectorAll('.additional-photo')

    let miniPhotos = [mainPhotoLower, ...additionalPhotos]

    for (let additionalPhoto of miniPhotos) {

        additionalPhoto.addEventListener('click', (e) => {
            let img = e.currentTarget.querySelector('img')
            mainPhoto.src = img.src

            for (let additionalPhoto of miniPhotos) {
                let img = additionalPhoto.querySelector('img')
                img.style.border = 'none'
                if (img.src === mainPhoto.src) img.style.border = '1px solid gray'
            }
        })
    }

    let photoZoomed = false
    mainPhoto.addEventListener('click', e => {
        if (photoZoomed) {
            e.currentTarget.classList.remove('position-fixed')
            e.currentTarget.style = ''
            photoZoomed = false
            return
        }

        let padding = 300
        let headerHeight = 100
        let windowWidth = window.screen.width
        let windowHeight = window.screen.height
        let pictureWidth = e.currentTarget.width
        let pictureHeight = e.currentTarget.height

        while (true) {
            if (pictureWidth > windowWidth - padding) break
            else if (pictureHeight > windowHeight - padding - headerHeight) break
            pictureWidth += 50
            pictureHeight += 50
        }

        e.currentTarget.classList.add('position-fixed')
        e.currentTarget.style.transform = 'translateX(-50%)'
        e.currentTarget.style.transition = 'all .2s'
        e.currentTarget.style.top = headerHeight
        e.currentTarget.style.left = '50%'
        e.currentTarget.style.zIndex = 1000
        e.currentTarget.style.width = `${pictureWidth}px`
        e.currentTarget.style.height = `${pictureHeight}px`

        photoZoomed = true
    })
</script>

{% endblock catalog_items %}